GuiaPractica/GuiaClienteSOAP/src/conf/xml-resources/web-service-references/GuiaSW/wsdl/localhost_8080/GuiaSOAP/GuiaSW.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw/" name="GuiaSW">
<types>
<xsd:schema>
<xsd:import namespace="http://sw/" schemaLocation="http://localhost:8080/GuiaSOAP/GuiaSW?xsd=1"/>
</xsd:schema>
</types>
<message name="operacionDivision">
<part name="parameters" element="tns:operacionDivision"/>
</message>
<message name="operacionDivisionResponse">
<part name="parameters" element="tns:operacionDivisionResponse"/>
</message>
<message name="operacionMultiplicacion">
<part name="parameters" element="tns:operacionMultiplicacion"/>
</message>
<message name="operacionMultiplicacionResponse">
<part name="parameters" element="tns:operacionMultiplicacionResponse"/>
</message>
<message name="operacionResta">
<part name="parameters" element="tns:operacionResta"/>
</message>
<message name="operacionRestaResponse">
<part name="parameters" element="tns:operacionRestaResponse"/>
</message>
<message name="operacionSuma">
<part name="parameters" element="tns:operacionSuma"/>
</message>
<message name="operacionSumaResponse">
<part name="parameters" element="tns:operacionSumaResponse"/>
</message>
<message name="calcularFuerza">
<part name="parameters" element="tns:calcularFuerza"/>
</message>
<message name="calcularFuerzaResponse">
<part name="parameters" element="tns:calcularFuerzaResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="calcularEnergiaCinetica">
<part name="parameters" element="tns:calcularEnergiaCinetica"/>
</message>
<message name="calcularEnergiaCineticaResponse">
<part name="parameters" element="tns:calcularEnergiaCineticaResponse"/>
</message>
<message name="calcularVelocidad">
<part name="parameters" element="tns:calcularVelocidad"/>
</message>
<message name="calcularVelocidadResponse">
<part name="parameters" element="tns:calcularVelocidadResponse"/>
</message>
<portType name="GuiaSW">
<operation name="operacionDivision">
<input wsam:Action="http://sw/GuiaSW/operacionDivisionRequest" message="tns:operacionDivision"/>
<output wsam:Action="http://sw/GuiaSW/operacionDivisionResponse" message="tns:operacionDivisionResponse"/>
</operation>
<operation name="operacionMultiplicacion">
<input wsam:Action="http://sw/GuiaSW/operacionMultiplicacionRequest" message="tns:operacionMultiplicacion"/>
<output wsam:Action="http://sw/GuiaSW/operacionMultiplicacionResponse" message="tns:operacionMultiplicacionResponse"/>
</operation>
<operation name="operacionResta">
<input wsam:Action="http://sw/GuiaSW/operacionRestaRequest" message="tns:operacionResta"/>
<output wsam:Action="http://sw/GuiaSW/operacionRestaResponse" message="tns:operacionRestaResponse"/>
</operation>
<operation name="operacionSuma">
<input wsam:Action="http://sw/GuiaSW/operacionSumaRequest" message="tns:operacionSuma"/>
<output wsam:Action="http://sw/GuiaSW/operacionSumaResponse" message="tns:operacionSumaResponse"/>
</operation>
<operation name="calcularFuerza">
<input wsam:Action="http://sw/GuiaSW/calcularFuerzaRequest" message="tns:calcularFuerza"/>
<output wsam:Action="http://sw/GuiaSW/calcularFuerzaResponse" message="tns:calcularFuerzaResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://sw/GuiaSW/loginRequest" message="tns:login"/>
<output wsam:Action="http://sw/GuiaSW/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="calcularEnergiaCinetica">
<input wsam:Action="http://sw/GuiaSW/calcularEnergiaCineticaRequest" message="tns:calcularEnergiaCinetica"/>
<output wsam:Action="http://sw/GuiaSW/calcularEnergiaCineticaResponse" message="tns:calcularEnergiaCineticaResponse"/>
</operation>
<operation name="calcularVelocidad">
<input wsam:Action="http://sw/GuiaSW/calcularVelocidadRequest" message="tns:calcularVelocidad"/>
<output wsam:Action="http://sw/GuiaSW/calcularVelocidadResponse" message="tns:calcularVelocidadResponse"/>
</operation>
</portType>
<binding name="GuiaSWPortBinding" type="tns:GuiaSW">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="operacionDivision">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operacionMultiplicacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operacionResta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="operacionSuma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcularFuerza">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcularEnergiaCinetica">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="calcularVelocidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GuiaSW">
<port name="GuiaSWPort" binding="tns:GuiaSWPortBinding">
<soap:address location="http://localhost:8080/GuiaSOAP/GuiaSW"/>
</port>
</service>
</definitions>