GuiaPractica/GuiaClienteSOAP/src/conf/xml-resources/web-service-references/GuiaSW/wsdl/localhost_8080/GuiaSOAP/GuiaSW.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://sw/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sw/">

<xs:element name="calcularEnergiaCinetica" type="tns:calcularEnergiaCinetica"/>

<xs:element name="calcularEnergiaCineticaResponse" type="tns:calcularEnergiaCineticaResponse"/>

<xs:element name="calcularFuerza" type="tns:calcularFuerza"/>

<xs:element name="calcularFuerzaResponse" type="tns:calcularFuerzaResponse"/>

<xs:element name="calcularVelocidad" type="tns:calcularVelocidad"/>

<xs:element name="calcularVelocidadResponse" type="tns:calcularVelocidadResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:element name="operacionDivision" type="tns:operacionDivision"/>

<xs:element name="operacionDivisionResponse" type="tns:operacionDivisionResponse"/>

<xs:element name="operacionMultiplicacion" type="tns:operacionMultiplicacion"/>

<xs:element name="operacionMultiplicacionResponse" type="tns:operacionMultiplicacionResponse"/>

<xs:element name="operacionResta" type="tns:operacionResta"/>

<xs:element name="operacionRestaResponse" type="tns:operacionRestaResponse"/>

<xs:element name="operacionSuma" type="tns:operacionSuma"/>

<xs:element name="operacionSumaResponse" type="tns:operacionSumaResponse"/>

<xs:complexType name="calcularEnergiaCinetica">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularEnergiaCineticaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operacionDivision">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operacionDivisionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularVelocidad">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularVelocidadResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operacionResta">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operacionRestaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularFuerza">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="calcularFuerzaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operacionMultiplicacion">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operacionMultiplicacionResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operacionSuma">
<xs:sequence>
<xs:element name="a" type="xs:double"/>
<xs:element name="b" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="operacionSumaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>