Clientes/ClienteNETS/ClienteNETS/Connected Services/WSOperaciones/WSOperations.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="WSOperations" targetNamespace="http://ws/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/ServicioWeb_SOAP/WSOperations?xsd=1" namespace="http://ws/" />
    </xsd:schema>
  </types>
  <message name="login">
    <part name="parameters" element="tns:login" />
  </message>
  <message name="loginResponse">
    <part name="parameters" element="tns:loginResponse" />
  </message>
  <message name="hello">
    <part name="parameters" element="tns:hello" />
  </message>
  <message name="helloResponse">
    <part name="parameters" element="tns:helloResponse" />
  </message>
  <message name="procesarPago">
    <part name="parameters" element="tns:procesarPago" />
  </message>
  <message name="procesarPagoResponse">
    <part name="parameters" element="tns:procesarPagoResponse" />
  </message>
  <portType name="WSOperations">
    <operation name="login">
      <input wsam:Action="http://ws/WSOperations/loginRequest" message="tns:login" />
      <output wsam:Action="http://ws/WSOperations/loginResponse" message="tns:loginResponse" />
    </operation>
    <operation name="hello">
      <input wsam:Action="http://ws/WSOperations/helloRequest" message="tns:hello" />
      <output wsam:Action="http://ws/WSOperations/helloResponse" message="tns:helloResponse" />
    </operation>
    <operation name="procesarPago">
      <input wsam:Action="http://ws/WSOperations/procesarPagoRequest" message="tns:procesarPago" />
      <output wsam:Action="http://ws/WSOperations/procesarPagoResponse" message="tns:procesarPagoResponse" />
    </operation>
  </portType>
  <binding name="WSOperationsPortBinding" type="tns:WSOperations">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="login">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="hello">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="procesarPago">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="WSOperations">
    <port name="WSOperationsPort" binding="tns:WSOperationsPortBinding">
      <soap:address location="http://localhost:8080/ServicioWeb_SOAP/WSOperations" />
    </port>
  </service>
</definitions>