Servicio SOAP Vista/ClienteBancoSOAP/xml-resources/web-service-references/WSOperaciones/wsdl/localhost_8080/BancoSOAP/WSOperaciones.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WSOperaciones">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/BancoSOAP/WSOperaciones?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="depositarSaldo">
<part name="parameters" element="tns:depositarSaldo"/>
</message>
<message name="depositarSaldoResponse">
<part name="parameters" element="tns:depositarSaldoResponse"/>
</message>
<message name="consultarSaldo">
<part name="parameters" element="tns:consultarSaldo"/>
</message>
<message name="consultarSaldoResponse">
<part name="parameters" element="tns:consultarSaldoResponse"/>
</message>
<message name="retirarSaldo">
<part name="parameters" element="tns:retirarSaldo"/>
</message>
<message name="retirarSaldoResponse">
<part name="parameters" element="tns:retirarSaldoResponse"/>
</message>
<message name="registrarCliente">
<part name="parameters" element="tns:registrarCliente"/>
</message>
<message name="registrarClienteResponse">
<part name="parameters" element="tns:registrarClienteResponse"/>
</message>
<message name="cerrarSesion">
<part name="parameters" element="tns:cerrarSesion"/>
</message>
<message name="cerrarSesionResponse">
<part name="parameters" element="tns:cerrarSesionResponse"/>
</message>
<message name="consultarNombreUsuario">
<part name="parameters" element="tns:consultarNombreUsuario"/>
</message>
<message name="consultarNombreUsuarioResponse">
<part name="parameters" element="tns:consultarNombreUsuarioResponse"/>
</message>
<portType name="WSOperaciones">
<operation name="login">
<input wsam:Action="http://ws/WSOperaciones/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws/WSOperaciones/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="depositarSaldo">
<input wsam:Action="http://ws/WSOperaciones/depositarSaldoRequest" message="tns:depositarSaldo"/>
<output wsam:Action="http://ws/WSOperaciones/depositarSaldoResponse" message="tns:depositarSaldoResponse"/>
</operation>
<operation name="consultarSaldo">
<input wsam:Action="http://ws/WSOperaciones/consultarSaldoRequest" message="tns:consultarSaldo"/>
<output wsam:Action="http://ws/WSOperaciones/consultarSaldoResponse" message="tns:consultarSaldoResponse"/>
</operation>
<operation name="retirarSaldo">
<input wsam:Action="http://ws/WSOperaciones/retirarSaldoRequest" message="tns:retirarSaldo"/>
<output wsam:Action="http://ws/WSOperaciones/retirarSaldoResponse" message="tns:retirarSaldoResponse"/>
</operation>
<operation name="registrarCliente">
<input wsam:Action="http://ws/WSOperaciones/registrarClienteRequest" message="tns:registrarCliente"/>
<output wsam:Action="http://ws/WSOperaciones/registrarClienteResponse" message="tns:registrarClienteResponse"/>
</operation>
<operation name="cerrarSesion">
<input wsam:Action="http://ws/WSOperaciones/cerrarSesionRequest" message="tns:cerrarSesion"/>
<output wsam:Action="http://ws/WSOperaciones/cerrarSesionResponse" message="tns:cerrarSesionResponse"/>
</operation>
<operation name="consultarNombreUsuario">
<input wsam:Action="http://ws/WSOperaciones/consultarNombreUsuarioRequest" message="tns:consultarNombreUsuario"/>
<output wsam:Action="http://ws/WSOperaciones/consultarNombreUsuarioResponse" message="tns:consultarNombreUsuarioResponse"/>
</operation>
</portType>
<binding name="WSOperacionesPortBinding" type="tns:WSOperaciones">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="depositarSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retirarSaldo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="registrarCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cerrarSesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarNombreUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSOperaciones">
<port name="WSOperacionesPort" binding="tns:WSOperacionesPortBinding">
<soap:address location="http://localhost:8080/BancoSOAP/WSOperaciones"/>
</port>
</service>
</definitions>