Clientes/ClienteJava/web/WEB-INF/wsdl/localhost_8080/ServicioWeb_SOAP/WSOperations.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="WSOperations">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ServicioWeb_SOAP/WSOperations?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="procesarPago">
<part name="parameters" element="tns:procesarPago"/>
</message>
<message name="procesarPagoResponse">
<part name="parameters" element="tns:procesarPagoResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<portType name="WSOperations">
<operation name="hello">
<input wsam:Action="http://ws/WSOperations/helloRequest" message="tns:hello"/>
<output wsam:Action="http://ws/WSOperations/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="procesarPago">
<input wsam:Action="http://ws/WSOperations/procesarPagoRequest" message="tns:procesarPago"/>
<output wsam:Action="http://ws/WSOperations/procesarPagoResponse" message="tns:procesarPagoResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws/WSOperations/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws/WSOperations/loginResponse" message="tns:loginResponse"/>
</operation>
</portType>
<binding name="WSOperationsPortBinding" type="tns:WSOperations">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="procesarPago">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSOperations">
<port name="WSOperationsPort" binding="tns:WSOperationsPortBinding">
<soap:address location="http://localhost:8080/ServicioWeb_SOAP/WSOperations"/>
</port>
</service>
</definitions>